replicaCount: 1

image:
  repository: dimrev/devops-pjct-producer
  tag: v0.0.3
  pullPolicy: IfNotPresent

rabbitmq:
  host: rabbitmq-app-helm-rabbitmq-application
  port: "5672"
  username: user
  password: password

producer:
  message: "Hello"
  repeat: "30"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}
