replicaCount: 5

image:
  repository: dimrev/devops-pjct-consumer
  tag: v0.0.5
  pullPolicy: IfNotPresent

rabbitmq:
  host: rabbitmq-app-helm-rabbitmq-application
  port: "5672"
  username: user
  password: password

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}
